/* styles.css - Challenge #1 (Skeleton) */

/* page wide styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 245, 250);
    color: black;
    margin: 0;
}

/*main container*/
.container {
    margin: 20px auto 0 auto;
    max-width: 800px;
    text-align: center;
}

/*header*/
.site-header {
    text-align: center;
}

h1 {
    color: rgb(230, 28, 173);
    font-size: 3em;
}

.tagline {
    font-style: italic;
    color: grey;
}

/*paragraphs*/
.about {
    text-align: left;
    line-height: 1.5;
    margin: 0 20px 0 20px
}


/*mascot*/
.mascot-placeholder {
    border-radius: 10%;
    border: solid 3px;
    background-color: white;
    width: fit-content;
    margin: auto
}

#mascot-image {
    width: 200px;
    padding: 10px 50px;
}

.hero {
    margin-bottom: 30px;
}

/*buttons*/
button {
    border-radius: 10%;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 14px
}

.buy-tickets {
    background-color: rgb(35, 229, 35);
    box-shadow: 0 0 15px cyan;
    margin-right: 20px;
    transition: background-color 120ms ease, transform 80ms ease;
}

.make-donation {
    background-color: rgb(17, 17, 165);
    box-shadow: 0 0 15px rgb(223, 24, 223);
    transition: background-color 120ms ease, transform 80ms ease;
}

.buy-tickets:hover {
    background-color: rgb(20, 138, 20);
    transform: scale(1.1); /*slight glow*/
}

.make-donation:hover {
    background-color: rgb(150, 14, 150);
    transform: scale(1.1);
}
button:hover {
    cursor: pointer;
}

/*actions section*/
.actions {
    margin-top: 20px
}


/*footer*/
.site-footer {
    margin-top:30px;
    border-top: 1px solid rgb(148, 148, 148);
    color: grey;
    padding: 12px
}